html, body {
    margin : 0;
    padding : 0;
    --box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.438);
    --transition : all 0.3s ease;
    /* font-size: 62.5%; */
}

.app_bg{
    background-image: url("Background_Final.png");
    background-position: right top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-color: #000048;
}

.margin-0{
    margin : 0 0 0 0;
}

.transparent{
    background: radial-gradient(black,transparent);
}

.white-text{
    color : white
}

.error{
    color: #f03f3f;
    font-size: large;
}

.success{
    color: #4be178;
    font-size: large;
}


.o-0{
    opacity: 0;
}

.o-1{
    opacity:1;
}

.z-1{
    z-index: 1;
}

.z-0{
    z-index: 0;
}


.circle{
    padding: 5px 10px;
    border-radius: 100%;
}

.btn-white,
.btn-light,
.btn-theme1
{
    cursor: pointer;
    padding: 6px 10px;
    margin: 2px;
}

.btn-theme1{
    border: none;
    border-radius: 2px;
    background-color: #000048d2;
    color: white;
    /* transition: all .3s ease; */
}

.btn-theme1:hover{
    background-color: #3c3c9ad2;
}

.btn-theme1:active{
    background-color: #000048d2;
}

.btn-theme2{
    border: none;
    border-radius: 2px;
    background-color: #7171c9;
    color: white;
}

.btn-white{
    background-color:rgb(254, 254, 254) ;    
    z-index: 1;
    border: 1.3px solid black;
}

.btn-light{
    background-color: rgb(195, 209, 255);
}

.btn-animated{
    transition: all 0.3s ease;
}

.btn-animated:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.484);
}

.btn-animated:active{ 
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.484);
}

.btn-white::after{
    position: absolute;
    content: "";
    display: inline-block;
    /* background-color: #0000483b; */
    background-color: rgb(254, 254, 254);
    transition: all 0.3s ease;
    z-index: -1;
    left: 0;
    top :0;
    width: 100%;
    height: 100%;
}

.circle::after{
    padding: 5px 10px;
    border-radius: 100%;
}

.btn-animated:hover::after{
    transform: scale(1.6);
    opacity: 0;
}

.white{
    background-color: whitesmoke;
}

.disabled{
    cursor : not-allowed;
    display: none;
}
