.app_bg{
    background-image: url("Background_Final.png");
    background-position: right top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-color: #000048
}

.margin-0{
    margin : 0 0 0 0;
}

.transparent{
    background: radial-gradient(black,transparent);
}

.white-text{
    color : white
}

.fill-up-body{
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
}
