.main-content{
    padding: 76px 10px 0px 40px;
    top:56px;
    height: 100vh;
    width: calc(100% - calc(-1*(30% - 30px)));
    margin-left: 30px;
    display: inline-block;
    overflow: auto;
    z-index: 1;
    background-color: #cecefa;
    transition: all 0.3s ease;
}

.main-container{
    position: relative;
    height: 100%;
    display: flex;
}


.main-content::-webkit-scrollbar{
    width: 4px;
    margin: none;
}

.main-content::-webkit-scrollbar-thumb{
    background-color: #8c8cf7;
}

.main-content::-webkit-scrollbar-track{
    background-color: #d0d0f3;
}


.refresh_button_position{
    position: fixed;
    font-size: larger;
    right: 10px;
    bottom: 10px;
}

.home-page-contents-top{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.top-table{
    min-width: 300px;
    max-width: 20%;
    width: fit-content;
    min-height: 205px;
    max-height: 244px;
    height: auto;
    overflow: auto;
}

thead{
    position: sticky;
    top: 0;
}

.top-table::-webkit-scrollbar{
    width: 4px;
    margin: none;
}

.top-table::-webkit-scrollbar-thumb{
    background-color: #3d3d59;
}

.top-table::-webkit-scrollbar-track{
    background-color: #9f9fcc;
}