.main-content{
    /* padding: 76px 10px 0px 40px;
    top:56px;
    height: 100vh;
    width: calc(100% - calc(-1*(30% - 30px)));
    margin-left: 30px;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    background-color: #cecefa;
    transition: all 0.3s ease; */

    /* flex-basis: 97.50%; */
    
    flex-basis: 80%;
    overflow-x: hidden;
    position: relative;
    transition: var(--transition);
    overflow-y: auto;
    height: 87vh;
    border-radius: 8px;

    font-size: 9px;

    margin: 10px;
    padding: 10px;
    box-shadow: var(--box-shadow);
}


.main-content *{
    font-size: inherit;
}

.main-container{
    position: relative;
    display: flex;
    margin-top : 57px;

    /* background-image: linear-gradient(to top,rgb(215, 236, 244),rgb(197, 203, 244)); */
    
    background-image: linear-gradient(to top,rgb(219, 215, 244),rgb(238, 239, 246));
}

.main-container>*{
    background-color: white;
}


html *::-webkit-scrollbar,
.main-content::-webkit-scrollbar,
.home-page-contents-bottom::-webkit-scrollbar{
    width: 4px;
    height: 4px;
    margin: none;
}

html *::-webkit-scrollbar,
.main-content::-webkit-scrollbar-thumb,
.home-page-contents-bottom::-webkit-scrollbar-thumb{
    background-color: #00000069;
    border-radius: 100px;
}

html *::-webkit-scrollbar,
.main-content::-webkit-scrollbar-track,
.home-page-contents-bottom::-webkit-scrollbar-track{
    background-color: transparent;
    opacity: 0;
}


.refresh_button_position{
    position: fixed;
    font-size: larger;
    right: 13px;
    bottom: 13px;
    border: 1.2px solid rgba(53, 49, 49, 0.632);
    font-size: 18px;
}

.home-page-contents-top{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.top-table{
    min-width: 263px;
    max-width: 20%;
    width: fit-content;
    min-height: 205px;
    max-height: 244px;
    height: auto;
    overflow: auto;
}

#run_table thead{
    position: sticky;
    top: 0;
}

.top-table::-webkit-scrollbar{
    width: 4px;
}

.top-table::-webkit-scrollbar-thumb{
    background-color: #00000069;
}

.top-table::-webkit-scrollbar-track{
    background-color: transparent;
}

#run_table tbody tr{
    cursor: pointer;
}

.top-figures{
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

td.table_action{
    cursor : pointer;
    color : blue;
    text-decoration: underline;
}

table td.table_action:hover{
    color : white;
    --bs-table-accent-bg: rgb(10 28 50 / 48%);
}

.arrow-position{
    position: absolute;
    top : 50px;
    left : 19px;
    transform: translate(-50%,0%);
    z-index: 20;
    opacity: 1;
}

.applied_filters{
    position: sticky;
    top : 10px;
    background-color: #fff;
    z-index: 5;
}


.home-page-contents-bottom{
    position: relative;
    height : 235px;
    overflow: auto;
}

.home-page-contents-bottom table th{
    position: sticky;
    top : 0;
}

.bottom-table-failed-records{
    position: absolute;
    top: 0;
    left: 0;
    
}

.loading-screen{
    position: absolute;
    top :0;
    left: 0;
    bottom: 0;
    right:0;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottom-table-failed-records{
    width: 100%;
}


.failed-records-header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top : 0;
    z-index: 10;
}


#failed_records thead tr th {
    position: sticky;
    top : 49.5px;
    z-index: 0;
    
}
