.side-filter-tab-container{
    position:fixed;
    left:calc(-1*(30% - 30px));
    top:56px;
    height: 100%;
    width: 30%;
    display: inline-block;
    border-right: 2px solid white;
    z-index: 5;
    padding: 20px 13px;
    background-color: #e1e1f2;
    transition: all 0.3s ease;
}

.side-filter-tab-contents{
    height: 80vh;
    overflow:auto;
}

.side-filter-tab-contents::-webkit-scrollbar{
    width: 4px;
    margin: none;
}

.side-filter-tab-contents::-webkit-scrollbar-thumb{
    background-color: #b3b3f4;
}

.side-filter-tab-contents::-webkit-scrollbar-track{
    background-color: #d0d0f3;
}

.arrow-position{
    position: absolute;
    right: 0;
    transform: translate(50%,0%);
}

.main-filter-label{
    font-size: larger;
}

.filter-card{
    background-color: #ffffffed;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.568);
    padding: 20px;
    margin :20px auto;
    width: 90%;
    
}

.filter-label {
    color : rgb(0, 0, 0);
}

.filter-header{
    margin:9px 15px ;
    display: flex;
    justify-content: space-between;
    
}

/* .Select-menu-outer{
    margin-bottom : 10px
} */